<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <title>Listagem os Usuários</title>
</head>
<body>
    <div class="container">
        <table class="table table-striped">
          <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Login</th>
                <th>Telefone</th>
                <th>Celular</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < users.length; i++) {%>
            <tr>
                <th scope="row"><%= (i + 1) %></th>
                <td><%= users[i].userName %></td>
                <td><%= users[i].userLogin %></td>
                <td><%= users[i].userPhone %></td>
                <td><%= users[i].userCellPhone %></td>
                <td><%= users[i].userEmail %></td>
            </tr>
            <%}%>
        </tbody>
    </table>
</div>
</body>
</html>
