<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <title>Listando os Usuários</title>
</head>
<body>
    <table class="table table-striped">
      <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Login</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Celular</th>
        </tr>
    </thead>
    <tbody>
        <% for (var i = 0; i < users.length; i++) {%>
        <tr>
            <th scope="row"><%= (i + 1) %></th>
            <td><%= users[i].userName %></td>
            <td><%= users[i].userLogin %></td>
            <td><%= users[i].userEmail %></td>
            <td><%= users[i].userPhone %></td>
            <td><%= users[i].userCellPhone %></td>
        </tr>
        <%}%>
    </tbody>
</table>
</body>
</html>
